AWSTemplateFormatVersion: '2010-09-09'
Metadata:
  License: Apache-2.0
Description: 'AWS CloudFormation Sample Template'
Resources:
  DBCluster:
    Type: AWS::RDS::DBCluster
    Properties:
      CopyTagsToSnapshot: true
      Engine: test