AWSTemplateFormatVersion: '2010-09-09'
Metadata:
  License: Apache-2.0
Description: 'AWS CloudFormation Sample Template'
Resources:
  CloudFront:
    Type: AWS::CloudFront::CachePolicy
    Properties:
      CachePolicyConfig:
