AWSTemplateFormatVersion: "2010-09-09"
Resources:
  StockTradingStateMachine:
    Type: AWS::DynamoDB::GlobalTable
    Description: ''
    Properties:
      AttributeDefinitions:
      KeySchema:
      Replicas: 12